.card {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 2px 4px #9ea2d3;
}

.card:nth-child(2) {
    position: relative;
    left: 24px;
}

.card:nth-child(1) {
    position: relative;
    right: 26px;
}

.chart-center {
    padding-right: 7%;
    padding-left: 7%;
}

.col-3 {
    padding: 0 !important;
}

#chartdivbar {
    height: 180px;
}

#chartdivpie {
    height: 180px;
}

#closeExposurepie {
    height: 180px;
}

.card-header {
    border: 1px solid #dee2e6 !important;
    background-color: #074058 !important;
    color: rgb(248, 242, 242);
}

.btnstyle {
    margin-top: 50%;
    border: 1px solid #dee2e6 !important;
    background-color: #074058 !important;
    color: rgb(248, 242, 242);
    padding: 10px;
}

.fullscreen-width {
    position: fixed;
    width: 99vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    background: #fff;
    padding: 0;
    margin: 0;
    margin-top: 0px !important;
    overflow: hidden !important;
}

.fullscreen-width #chartdiv {
    height: 95vh !important;
}

.fullscreen-width #openSightingchart {
    height: 95vh !important;
}

.fullscreen-width #chartdivnew {
    height: 95vh !important;
}

.fullscreen-width #getIngredientSightingInfo {
    height: 95vh !important;
}

.custom-btn {
    width: auto;
    height: auto;
    text-align: center !important;
    display: inline-flex;
    background-color: white;
    margin-top: 5px !important;
    margin-right: 10px;
    border: 1px solid #ced4da;
    font-size: 14px;
    padding: 2px 0 0 10px;
}

.lableStyle {
    width: 144px;
    height: 115px;
    position: absolute;
    margin-top: 46px;
}

.row-height {
    height: 180px;
}

a {
    color: #308ef3;
    text-decoration: none;
}

.alert-secondary .alert-link {
    color: #308ef3;
    text-decoration: none;
}

.header-grey-table tr th {
    background-color: #b7b7b7ad;
}

.table td,
.table th {
    padding: 3px 5px;
    vertical-align: middle;
    font-size: 12.5px;
}

.active-closed-row {
    display: inline-flex;
}

.active_close_table {
    display: inline-flex;
    align-items: center;
}

.col_inner_pad {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

::ng-deep .mat-icon {
    line-height: 22px;
}

.main-div {
    height: auto;
}

.portlet.box.blue-hoki {
    border-top: 0;
}

.portlet.blue-hoki,
.portlet.box.blue-hoki>.portlet-title,
.portlet>.portlet-body.blue-hoki {
    background-color: #0071c5;
    border-radius: 3px 3px 0px 0px;
}

.portlet.box {
    padding: 0 !important;
}

.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 10px;
    margin-bottom: 0;
    color: #fff;
}

::ng-deep .cdk-overlay-pane {
    min-width: 198px;
    font-size: 14px;
    top: 342.125px;
    left: 1149.25px;
    /* transform: translateX(-20px) translateY(112px);
}

.caption{
  display:inline-flex;
}
.portlet.box.blue-hoki>.portlet-title>.caption, .portlet.box.blue-hoki>.portlet-title>.caption>i {
  color: #FFF;
}
.tableHeadertext{
  color: #fcfdff;
  text-decoration: none;
}

.custom_alert {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 5px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: transparent;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 20%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 20%;
}
.th_setwidth th{
  width: 150px;
  max-width: 150px;
}
th{
  width: 150px;
  max-width: 150px;
}

.table_width th,.table_width td{
  width: 100px !important;
}
.th_border{
  border-collapse: collapse;
}
.textStyle{
  color: #308ef3;
}
.defect_width{
  width: 150px;
  /* font-size: 10.5px !important; */
}

.ingred_width {
    width: 50px;
    /* font-size: 10.5px !important; */
}

.wss_width {
    width: 40px;
    /* font-size: 10.5px !important; */
}

.verified_width {
    width: 300px !important;
    /* font-size: 10.5px !important; */
}

.implement_width {
    width: 100px !important;
    /* font-size: 10.5px !important; */
}

.total_width {
    width: 50px;
}

.base_tr {
    padding: 5px !important;
    border-bottom: 0.1px solid #000;
}

.blue_td {
    padding: 11px !important;
    border-bottom: 0.1px solid #000;
    background-color: #DDEBF7;
    width: 200px;
    font-size: 12px !important;
}

.white_td {
    padding: 11px !important;
    border-bottom: 0.1px solid #000;
    border-right: none;
    width: 200px;
}

.noborder_td {
    padding: 11px !important;
    background-color: #DDEBF7;
    border-top: 0.1px solid #DDEBF7 !important;
}

.th_style {
    padding: 0px !important;
    vertical-align: initial !important;
    white-space: nowrap;
    border: 0.1px solid #000;
}

.fifthie_blu:nth-child(5) {
    color: #C00000;
    background-color: #DDEBF7 !important;
}

.fifthie_blu:last-child {
    color: #C00000;
    background-color: #DDEBF7 !important;
}

.fifthie_blutotal:nth-child(5) {
    background-color: #DDEBF7 !important;
}

.fifthie_blutotal:last-child {
    background-color: #DDEBF7 !important;
}

.fourthie:nth-child(4) {
    background-color: #BFBFBF;
    color: #000;
}

.fourthie_txt:nth-child(4) {
    background-color: #BFBFBF;
    /* color:#BFBFBF; */
}

.total_redie {
    background-color: #e84118;
    color: #fff;
}

.Tbheader {
    border-bottom: 2px solid #dee2e6;
    background-color: lightgray;
    border-right: 1px solid #ffffff;
    font-size: 12.5px;
    font-weight: 600;
}

.Tbdata {
    border-right: 1px solid #dee2e6;
    background-color: #ffffff;
    font-size: 12.5px;
    border-bottom: 2px solid #dee2e6;
}

.main_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #4182a8;
}

.main_div .sub_div {
    width: 20%;
    height: 44px;
}

.child_div {
    width: 20%;
    height: 44px;
}

.home_heading {
    color: #9eacb4;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 0px!important;
}


/*********************************************/

.tableQRCYellow {
    border: 0.1px solid #000;
    background: #fbc531;
    padding: 5px !important;
    text-align: center;
}

.tableQRCRed {
    border: 0.1px solid #000;
    background: #e84118;
    padding: 5px !important;
    text-align: center;
    color: #ffffff;
}

.tableQRCBlue {
    border: 0.1px solid #000;
    background: #DDEBF7;
    padding: 5px !important;
    text-align: center;
}

.tableQRCWhite {
    border: 0.1px solid #000;
    background: white;
    padding: 5px !important;
    text-align: center;
}

.tableQRCWhite[_ngcontent-mhc-c45] {
    border: 0.1px solid #000;
    background: #FFC000;
    padding: 5px !important;
    text-align: center;
}

ul {
    padding-left: 0
}

ul li {
    margin-bottom: 0;
    list-style: none;
    border: none;
    outline: none;
    height: 39px;
    border: 1px solid #000;
    border-right: 0;
    border-collapse: collapse;
}

.head_pos {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

.three_cell {
    line-height: 39px;
    vertical-align: baseline !important;
    padding: 0px 17px;
    text-align: left;
}

.cmf {
    margin-top: 62px;
    border: 1px solid #000000;
    line-height: 32px;
    padding: 0 !important;
}

.total {
    border: 1px solid #000000;
    line-height: 32px;
    padding: 0 !important;
}

.funct li {
    padding-left: 0px;
    list-style: none;
    line-height: 26.5px;
    border-right: none;
}

.reddie {
    background-color: red;
}

.fifthie:nth-child(5) {
    color: #ffffff;
}

.fontie {
    font-weight: 400;
}

.thCell {
    max-width: 150px !important;
}

th[_ngcontent-aey-c140] {
    max-width: 150px !important;
}

.b_rit {
    border-right: 1px solid #000 !important;
}

.b_top:nth-child(1) {
    border-top: 1px solid #fff;
}

.brd_tble td,
.brd_tble th {
    padding: 0px 0px;
}

.listBg li:nth-child(5) {
    background: #FFC000;
}

.divStyle {
    border: 1px solid #DDEBF7;
    border-left: 1px solid #000;
}

.divStyle2 {
    border: 2.5px solid #DDEBF7;
    border-left: 1px solid #000;
}

.divRight {
    border: 1px solid #000;
    border-right: none;
    background-color: #DDEBF7;
}

.divTotalStyle {
    border: 1px solid #000;
    border-right: none;
    position: absolute;
    width: 28.6%;
}

.divBorderTop {
    border-top: 2px solid #000;
}

.divBorderBottom {
    border-bottom: 2px solid #000;
}

.divBorderLeft {
    border-bottom: 2px solid #000;
}

.divBorderRight {
    border-bottom: 2px solid #000;
}

.divQRCWhite {
    border: solid windowtext 0.5pt;
    background: white;
    padding: 5px !important;
    text-align: center;
}

.main-div .table thead th {
    border-bottom: none;
    vertical-align: middle;
}

.Blue_base_tr {
    padding: 5px !important;
    border-bottom: 0.1px solid #DDEBF7;
}

.table td,
.table th {
    border-top: 0.1px solid #000;
}

.HeaderText Strong {
    color: #308ef3;
}

.header_bold {
    font-weight: 600 !important;
}

strong {
    cursor: pointer;
}

.tble_brd {
    border: 0.1px solid #0071c5;
}

.portlet-title {
    height: 40px;
}

.pop_btn {
    position: absolute;
    top: 10px;
    right: 30px;
}

.pop_btn_critic {
    position: absolute;
    top: 10px;
    right: 20px;
}

.info_btn {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
}

.info_btn:focus {
    outline: none !important;
}

.info_btn .fa-info-circle {
    color: #fff;
    font-size: 20px;
}

.example-tooltip-red {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
    max-width: 300px !important;
    white-space: pre-wrap;
    font-size: 10px;
}

.no_link {
    cursor: auto !important;
}

.link_hov {
    cursor: pointer;
    font-weight: 600;
}

.link_hov:hover {
    color: #397fca !important;
    text-decoration: underline !important;
}

.Call_btn {
    background: #0071c5 !important;
    font-family: Intel Clear, tahoma, Helvetica, Arial, sans-serif !important;
}

.Call_btn:focus-within {
    outline: none;
}

.Call_btn:hover {
    background-color: #24369a;
}

.brd_div {
    border: 1px solid #dee2e6 !important;
}

.table_ml {
    margin: 0px;
    text-align: center;
    border: 1px solid #dee2e6 !important;
    margin-top: -11px;
}

.table_mr {
    margin: 0px;
    text-align: center;
}

.header_red {
    background-color: #f44336d6 !important;
}

.header_orange {
    background-color: #f98a42e0 !important;
}

.header_yellow {
    background-color: #ffc107d4 !important;
}

.header_gray {
    background-color: #cbc9c873 !important;
}

.brdr_div {
    border: 1px solid #dee2e6 !important;
}

.table_str {
    margin: 0px;
    text-align: center;
    border: 1px solid #dee2e6 !important;
}

.table_rit {
    margin: 0px;
    text-align: center;
}

.header_up {
    background-color: #f44336d6 !important;
}

.header_zero {
    background-color: #f98a42e0 !important;
}

.header_one {
    background-color: #ffc107d4 !important;
}

.header_two {
    background-color: #cbc9c873 !important;
}

.bordr_sld {
    border: 1px solid #dee2e6 !important;
}

.table_down {
    margin: 0px;
    text-align: center;
    border: 1px solid #dee2e6 !important;
}

.header_stle {
    border: 1px solid #dedbdb;
    margin: 0;
    justify-content: space-between;
}

.header_blk {
    color: #9eacb4;
    width: 70%;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 400;
}

.mat_icn {
    margin-top: 8px;
    cursor: pointer;
}

.chart_style {
    width: 100%;
    height: 500px;
    border: 0.5px solid #d7d4d4;
    padding-top: 5px;
}

.chart_style1 {
    width: 100%;
    height: 32px;
    border: 0.5px solid #d7d4d4;
    padding-top: 5px;
    text-align: center;
    color: #a5a5a5;
}

.fa-list {
    font-size: 22px;
}

.table_white {
    background: white;
}

.bg_yelow {
    background: #FFC000;
}

.th_white {
    color: #ffffff;
}

.border_div {
    border: 0.5px solid #d7d4d4;
}

.brd_head {
    color: #9eacb4;
    width: 70%;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 400;
}

.mat_ico {
    margin-top: 8px;
    cursor: pointer;
}

.chart_area {
    width: 100%;
    height: 475px;
    border: 0.5px solid #d7d4d4;
}

.chart_area1 {
    width: 100%;
    height: 500px;
    border: 0.5px solid #d7d4d4;
    padding-top: 5px;
}

.chart_area2 {
    width: 100%;
    height: 500px;
    border: 0.5px solid #d7d4d4;
    padding-top: 8px;
}

.div_with {
    width: auto;
}

.div_direction {
    flex-direction: row;
    background-color: white;
}

.thead_bg {
    background: lightgray;
}

.set_mxwidth {
    max-width: 1150px !important;
}

#myDIV {
    display: none;
}

#power_btn:hover {
    background-color: #0984e3;
}

#btn:hover {
    background-color: #0984e3;
}

mat-progress-bar .mat-progress-bar-buffer {
    background: #00cec9;
}

mat-progress-bar {
    height: 8px !important;
}

.content_hide {
    display: none;
}

.mat-menu-panel {
    margin-left: -35px;
    background-color: #f0f0f0;
}

.hide_btn {
    background-color: #0984e3;
    width: 118px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.hide_Noncontent {
    display: none;
}

.bg_blue {
    background-color: #005fa9;
}

.intel_img img {
    width: 150px;
    margin-top: 41px;
}

.siv_img img {
    width: 120px;
    margin-top: 20px;
}

.mail_header_txt {
    color: #ffffff;
}

.show_emailcontent {
    display: none;
}

.hide_emailcontent {
    display: none;
}

.query_link {
    color: #3e79c7 !important;
    cursor: pointer;
}

.mat-dialog-container {
    max-width: 100vw !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #dff9fb;
    border-radius: 20px !important;
    position: relative;
}

.config_title {
    border-bottom: 2px solid #3498db;
    background-color: #0071c5;
    color: #ffffff;
}

.form-group input {
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 25px;
}

.form-group label {
    font-weight: 500;
}

.fa-download,
.fa-pencil-square-o {
    padding: 0px 10px 0px 0px;
    font-size: 15px !important;
}

.set_height {
    max-height: 70px !important;
    /* font-size: 10.5px !important; */
}

.form-control[readonly] {
    cursor: not-allowed;
}

.form_btn {
    background-color: #30336b;
    color: #ffffff;
}

.form_btn:hover {
    background-color: #7ed6df;
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 20px;
    border: none;
    outline: none;
    color: red;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

button:focus {
    outline: none !important;
}

.close_btn .fa-window-close {
    font-size: 15px;
}

.mat-dialog-container form {
    overflow-y: scroll;
    max-height: 410px;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.checkbox_form {
    display: -webkit-inline-box;
    vertical-align: -webkit-baseline-middle;
    margin-top: 35px;
}

.input_form_group {
    width: 30px;
    margin-top: 4px;
    box-shadow: none !important;
}

.week_brd {
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

.checkbox_form1 {
    display: -webkit-inline-box;
    vertical-align: -webkit-baseline-middle;
}

.key_fail {
    font-weight: 500;
}

.legend .leg_header {
    background-color: #000;
    color: #ffffff;
}

.legend .issue_green {
    background-color: #7cfc00;
}

.legend .issue_yellow {
    background-color: #ffff00;
}

.legend .issue_red {
    background-color: #ff0000;
    color: #ffffff;
}

.issue_table th {
    background-color: #4472c4;
    color: #ffffff;
    font-weight: 400;
    border: 0.1px solid #000000;
    text-align: center;
}

.issue_table td {
    border: 0.1px solid #000000;
    font-size: 12.5px;
}

._isimpact {
    width: 700px !important;
    max-width: 800px;
}

.bg_red {
    background-color: #ff0000;
}

.bg_green {
    background-color: #7cfc00;
}

.bg_yellow {
    background-color: #ffff00;
}

.bg_grey {
    background-color: lightgray;
}

.listofissue h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px 3px;
}

.listofissue h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.table_hide {
    display: none;
}

.Cslp_table th,
.Cslp_table td {
    border: 0.1px solid #000000;
    width: 200px;
    max-width: 200px;
    min-width: 150px;
}

.Cslp_table th {
    background-color: #0071c5;
    font-weight: 500;
    color: #ffffff;
}

.cslpsightings {
    display: block;
}

.cslp_clr {
    color: #308ef3;
    font-weight: 500;
    cursor: pointer;
}

.cslp_last:last-child {
    background-color: #f0f0f0;
}

.mat-tab-label {
    /* background: rgb(45,172,205); */
    background: #a5a5a5;
    /* background: linear-gradient(83deg, rgba(45,172,205,1) 0%, rgba(41,171,160,1) 100%, rgba(255,255,255,1) 100%); */
    color: #ffffff;
    /* border: 1px solid #ffffff; */
    /* border-radius: 15px 15px 0px 0px; */
    width: 20%;
    height: 40px !important;
    opacity: 1 !important;
    font-family: Intel Clear, tahoma, Helvetica, Arial, sans-serif !important;
    box-shadow: 1px 1px 5px #252525;
    font-size: 13px;
}

@media only screen and (max-width: 1500px) {
    .mat-tab-label {
        justify-content: left !important;
    }
}

.mat-tab-label:hover {
    /* background: rgba(41,83,171,1);
background: linear-gradient(83deg, rgba(45,172,205,1) 0%, rgba(41,83,171,1) 100%, rgba(255,255,255,1) 100%); */
    background: #a5a5a5;
    opacity: 1 !important;
}

.mat-tab-label-active {
    /* background: rgba(41,83,171,1);
background: linear-gradient(83deg, rgba(45,172,205,1) 0%, rgba(41,83,171,1) 100%, rgba(255,255,255,1) 100%); */
    background: #0071c5 !important;
    opacity: 1 !important;
}

.box_link {
    border: 0px !important;
    /* background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%); */
    background: #0071c5;
    border-radius: 50px;
    width: 250px;
    height: 60px;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.box_link:hover {
    /* outline: 2px solid #ffffff; */
    outline-offset: -5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* background: linear-gradient(to left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%); */
    background: #0880da !important;
    /* transform: scale(1.1); */
}

.box_link .fa-table {
    font-size: 35px;
    margin-left: 30px;
}

.box_link img {
    width: 35px !important;
    filter: invert(1);
}

.box_link .text_icon .fa-table {
    font-size: 100px !important;
    color: #7ed6df;
}

.box_link:hover .text_icon .fa-table {
    color: #22a6b3;
}

button:focus {
    outline: none !important;
}

.table_box {
    display: flex;
    align-items: center;
}

.table_box1 .fa-table {
    margin-left: 32px !important;
    font-size: 35px;
}


/* accordian */

.example-action-buttons {
    padding-bottom: 10px;
    text-align: right;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-expansion-panel-body {
    padding: 0px !important;
}

.mat_title {
    color: #000;
    margin-left: 20px !important;
    font-family: Intel Clear, tahoma, Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: normal;
}

.mat_title .fa-list {
    font-size: 20px !important;
    position: absolute;
    top: 14px;
    left: 16px;
}

.mat-expansion-panel-header {
    /* background-color: #0071c5 !important; */
    /* background-color: #a5a5a5 !important; */
    background-color: #f0f0f0 !important;
    color: #000 !important;
    border: 2px solid #cecece !important;
    /* border-bottom: 1px solid #ffffff; */
}

.mat-expansion-panel-header:hover {
    background-color: #a5a5a5 !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
    border-radius: 4px 4px 0px 0px !important;
    background-color: #0071c5 !important;
    color: #fff !important;
}

.mat-expansion-panel-header.mat-expanded .mat_title {
    color: #fff !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    /* box-shadow: -1px 7px 31px -4px rgba(0,0,0,0.75) !important;
-webkit-box-shadow: -1px 7px 31px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 31px -4px rgba(0,0,0,0.75); */
    box-shadow: none !important;
    margin-bottom: 3px;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: #000000;
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
    color: #fff !important;
}


/* accordian */


/* CSS */

.button-80 {
    background: #0071c5;
    backface-visibility: hidden;
    border-radius: .375rem;
    /* border-style: solid;
border-width: .125rem; */
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* font-family: Circular,Helvetica,sans-serif;
font-size: 1.125rem;
font-weight: 700; */
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: Intel Clear, tahoma, Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: none;
}

.button-80:hover {
    background: #0880da !important;
    color: #ffffff;
}

.button-80:not(:disabled):hover {
    transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
    outline: 0 solid transparent;
}

.button-80:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
    border-width: 0;
}

.button-80:not(:disabled):active {
    transform: translateY(.125rem);
}

.avg_width td {
    width: 50%;
}

.btn_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn_card_container {
    display: flex;
    justify-content: space-between;
}

.amcharts-chart-div a {
    display: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    border-top: 0px !important;
}

::ng-deep .mat-form-field {
    width: 150px;
    margin-left: 10px;
    text-align: center !important;
    margin-right: 9px;
}

::ng-deep .mat-form-field-flex {
    border: 1px solid #ced4da !important;
    width: 110px;
    border-radius: 4px;
}

::ng-deep .mat-form-field-underline {
    background: transparent !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

::ng-deep .mat-select-placeholder {
    color: #495057 !important;
    padding-left: 3px;
    -webkit-text-fill-color: #495057 !important;
}

::ng-deep .brd_div .mat-select-value {
    color: #000 !important;
    padding-left: 3px;
}

::ng-deep .brd_div .mat-select-arrow {
    color: #000 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: transparent !important;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}

::ng-deep .mat-select-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .mat-form-field-label {
    display: none !important;
}

::ng-deep {
    display: none !important;
}

.mat-form-field-label-wrapper .mat-form-field-label span {
    display: none !important;
    color: #ffffff;
}

.mat-form-field-label {
    width: 0px !important;
}

.mat-form-field {
    height: 30px;
    width: 200px;
    margin: 0px !important;
    margin-right: 10px;
}

.mat-form-field-label-wrapper {
    width: 0px;
}

.mat-form-field-infix {
    text-align: center !important;
    display: inline-flex;
    background-color: white;
    margin-top: 5px !important;
    margin-right: 0px;
    border: 1px solid #9eacb4;
    font-size: 14px;
    padding: 2px 0 0 10px;
    border-radius: 3px;
    border: 1px solid #ced4da !important;
    width: 110px;
    border-radius: 4px;
}

.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: black !important;
    -webkit-text-fill-color: black !important;
}

.info1_btn {
    color: darkgray !important;
}

.cal_table td {
    border: 0.1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.drop_down {
    display: -webkit-inline-box;
    float: right;
}

.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 10px !important;
    width: 155px !important;
    overflow-x: hidden !important;
}

.popup_header {
    text-align: center;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 15px;
}

.bg_btn {
    background-color: lightgray;
    border: none;
    outline: none;
    width: 55px;
    height: 35px;
    border-radius: 5px;
    box-shadow: none !important;
}

.bg_btn1 {
    border: none;
    outline: none;
    width: 55px;
    height: 35px;
    border-radius: 5px;
    box-shadow: none !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #005691 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005691;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #005691 !important;
}

.mat-checkbox .mat-ripple-element,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: #005691 !important;
}

.filter_btn {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ced4da;
    font-size: 14px;
    padding: 3px 5px;
    margin-top: 5px;
    margin-right: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.filter_btn:hover {
    background-color: #e2e6ea !important;
    color: #000 !important;
    border: 1px solid #e2e6ea;
}

.customHeight {
    height: 42.7px;
}

.customDefectHeight {
    height: 42.7px;
}

@media only screen and (max-width: 768px) {
    /* Here are some changes*/
}

.form_flow {
    overflow-y: hidden !important;
    overflow-X: hidden !important;
}

.form-group {
    margin-bottom: 0rem !important;
}

.model-text {
    display: flex;
    margin-top: 20px;
    /* color: #0071c5; */
}

#idsid {
    padding-left: 18px;
}

.form-group button {
    margin-top: -12px;
}

@media screen and (min-resolution: 125dpi) {
    /* Your code here */
}

.cslp_mt {
    margin-top: 5.5rem!important;
}


/* .mat-tab-label {
    padding: 0 1rem!important;
}

@media (resolution: 1dppx) {
    .scale::after {
        content: '100%';
    }
} */